<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
  <!-- 個別CSS読み込み -->
  <link rel="stylesheet" th:href="@{/css/list.css}">
  <title>ユーザー一覧</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="header border-bottom">
      <h1 class="h2">ユーザー一覧画面</h1>
    </div>
    <!-- 検索 -->
    <div class="mb-4">
      <form id="user-search-form" method="get" th:action="@{/user/list}"
          class="row" th:object="${userListForm}">
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="ユーザーID" th:field="*{userId}">
        </div>
        <div class="col-sm">
          <input type="text" class="form-control" placeholder="ユーザー名" th:field="*{userName}">
        </div>
        <div class="col-sm">
          <button class="btn btn-primary" type="submit">
            検索
          </button>
        </div>
      </form>
    </div>
    <!-- 一覧表示 -->
    <div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th class="th-width">ユーザーID</th>
            <th class="th-width">ユーザー名</th>
            <th class="th-width">誕生日</th>
            <th class="th-width">年齢</th>
            <th class="th-width">性別</th>
            <th class="th-width"></th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="item: ${userList}">
            <td th:text="${item.userId}"></td>
            <td th:text="${item.userName}"></td>
            <td th:text="${#dates.format(item.birthday, 'YYYY/MM/dd')}"></td>
            <td th:text="${item.age}"></td>
            <td th:text="${item.gender == 1} ? '男性': '女性'"></td>
            <td>
              <a class="btn btn-primary" th:href="@{'/user/detail/' + ${item.userId}}">
                詳細
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- ページネーション -->
    <nav aria-label="Page Navigation">
      <ul class="pagination justify-content-center">
        <!-- 前へ -->
        <li class="page-item" th:classappend="${page.first ? 'disabled': ''}">
          <span th:if="${page.first}" class="page-link">前へ</span>
          <a th:if="${!page.first}" th:href="@{/user/list(page = ${page.number} - 1)}"
              class="page-link" aria-label="Previous">
            前へ
          </a>
        </li>
        <!-- ページ番号 -->
        <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
          <li class="page-item" th:classappend="${i == page.number ? 'active': ''}">
            <span th:if="${i} == ${page.number}" th:text="${i + 1}" class="page-link">1</span>
            <a th:if="${i} != ${page.number}" th:href="@{/user/list(page = ${i})}" class="page-link">
              <span th:text="${i+1}">ページ番号</span>
            </a>
          </li>
        </th:block>
        <!-- 次へ -->
        <li class="page-item" th:classappend="${page.last ? 'disabled': ''}">
          <span th:if="${page.last}" class="page-link">次へ</span>
          <a th:if="${!page.last}" th:href="@{/user/list(page = (${page.number} + 1))}"
              class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">次へ</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>